.Text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.title {
    color: var(--primary-color);
}

.description {
    color: var(--secondary-color);
}

.size_m {
    .title {
        font: var(--font-l);
    }

    .description {
        font: var(--font-m);
    }
}

.size_l {
    .title {
        font: var(--font-l);
    }

    .description {
        font: var(--font-m);
    }
}

.error {
    .title {
        color: var(--error-color);
    }

    .description {
        color: var(--error-color);
    }
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}