.Input {
    display: flex;
    justify-content: space-between;
}

.placeholder {
    margin-right: 15px;
}

.input {
    padding: 5px;
    outline: none;
    border: none;
    color: var(--primary-color);
    border-radius: 5px;

    &:focus {
        outline: none;
    }
}