.app.dark {
    --bg-color: #18204d;
    --inverted-bg-color: #e0e0e0;
    --primary-color: #59be4c;
    --secondary-color: #9698ad;
    --inverted-primary-color: #08197a;
    --inverted-secondary-color: #9698ad;
}
