.app.light {
    --bg-color: #e0e0e0;
    --inverted-bg-color: #18204d;

    --primary-color: #3a55ee;
    --secondary-color: #9698ad;

    --inverted-primary-color: #22f007;
    --inverted-secondary-color: #9698ad;
}