.ProfileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
    width: 500px;
}

.data {
    margin-top: 20px;

    .input {
        margin-top: 20px;
    }
}

.loading,
.error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}